<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.java.mybatis.model.mapper.MemberMapper">
    <!-- id -> 인터페이스 상 메서드 이름 -->
    <!-- useGeneratedKeys -> auto increment를 쓰는가?  -->
    <!-- keyProperty -> pk -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO MEMBER (username, password)
        VALUES (#{username}, #{password})
    </insert>

    <!-- Mapper에서 List면 전체를 가져오고, 개별 데이터면 맨 처음껏 -->
    <select id="findByUsername" resultType="kr.java.mybatis.model.domain.Member">
        SELECT * FROM MEMBER
        WHERE username = #{username}
    </select>
</mapper>